@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

* {
  font-family: "Overpass", sans-serif;
  font-size: 15px;
  color: hsl(0, 0%, 100%);
}

html {
  background-color: hsl(216, 12%, 8%);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer components {
  .rate-button {
    @apply bg-dark-blue text-medium-grey w-12 h-12 rounded-3xl flex justify-center items-center hover:bg-sp-orange hover:text-white;
  }
  .active-button {
    @apply bg-medium-grey text-white w-12 h-12 rounded-3xl flex justify-center items-center hover:bg-sp-orange hover:text-white;
  }
}
